.navbar
{
    
    padding : 1px !important;
}

#logo-img {
    margin: 0 !important;
    padding: 0 !important;
    height: 30px !important;
    width: 160px
}

#logo1-img {
    height: 70px !important;
    width: 200px
}
