.navbar
{
    border-bottom:1px solid grey !important;
    padding : 1px !important;
}

#logo-img {
    margin: 0 !important;
    padding: 0 !important;
    height: 40px !important;
    width: 130px
}

#logo1-img {
    height: 70px !important;
    width: 200px
}
